devpack # warg, draugr, apppath
neodroid
numpy>=1.22.2
scipy
scikit-image
tqdm
Pillow>=10.3.0
matplotlib>=3.4.1
pip
h5py
torch>=1.11.0
torchvision
pycocotools>=2.0.2
albumentations>=0.5.2
opencv-python>=4.5.1.48
seaborn
munin
PyWavelets
imageio
pypng
sorcery
black[jupyter]
black>=24.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability